<!DOCTYPE html>
<html>
  
  <%= render 'head' %>

  <body>
 	<%= render 'header' %>

	<style type="text/css">
		body {
			padding-top: 70px; /*for the bottom-navbar*/
		}
	</style>

    <div class="container" id="main"> 
	   <div class="row">
		 <div class="col-xs-12" id="content">

	 	    <% flash.each do |key, value| %>
			  	<div class="alert alert-<%= key %> alert-dismissable">
			  		<!-- dismiss button (x) -->
			  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  		<!-- -->
			  		<%= value %>
			  	</div> 
			<% end %>	

		 	<%= yield %>
		 </div>           
	   </div>
    </div>
  </body>
 
</html>

